li{
  list-style:circle;
  border: 1px solid gray;
  width:max-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
code{
  margin: 0.5rem 0;
  display: block;
  background-color: rgb(24, 24, 24);
  color: white;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.2em;

}

.item{
  margin-top: 2rem;
}
h3{
  opacity: 0.8;
}
h4, h5{
  opacity: 0.6
}
.tab{
  display: grid;
  grid-template-columns: repeat(4, auto);
  &> div{
    padding: 0.5rem 1.5rem 0.5rem 0rem;
  }
}
.pre{
  font-size: 1.1rem;
}