<p>login works!</p>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label for="password">Password: </label>
  <input type="password" id="password" formControlName="password" required>
  <input type="checkbox" name="nn" id="" (change)="change($event)" value="jj">
  <div formArrayName="all">
    <div *ngFor="let one of all.controls; let i=index">
      <!-- The repeated alias template -->
      <app-text [i]="'{{i}}'" [formGroup]="loginForm"></app-text>

    </div>
  </div>
  <button type="submit" [disabled]="!loginForm.valid">Valid</button>
</form>

