<app-template>

  <h2>API Pricing</h2>
  <div class="block">
    <app-card>
      <h4 title>Free</h4>
      <h5 price>0&euro;</h5>
      <p description> <strong>50</strong> requests/day  </p>
    </app-card>
    <app-card>
      <h4 title>Starter</h4>
      <h5 price>5&euro;</h5>
      <p description> <strong>150</strong> requests/day then <strong>0.007&euro;</strong>/request  </p>
    </app-card>
    <app-card>
      <h4 title>Medium</h4>
      <h5 price>10&euro;</h5>
      <p description> <strong>750</strong> requests/day then <strong>0.004&euro;</strong>/request  </p>
    </app-card>
    <app-card>
      <h4 title>Expert</h4>
      <h5 price>20&euro;</h5>
      <p description> <strong>1500</strong> requests/day then <strong>0.002&euro;</strong>/request  </p>
    </app-card>
  </div>
  <p>All plans are month to month and can be cancelled at any time.</p>
</app-template>
