<app-template>
  <div class="title">
    <h1>User Generator API</h1>
    <p>An API for generating random user data. Like Lorem Ipsum, but for people. </p>
  </div>
  <pre>
  <span class="neutre">{{'{'}}</span>
    <span class="neutre">id:</span> <span class="number">2</span>
    <span class="neutre">name:</span> <span class="text">"Rachel"</span>
    <span class="neutre">surname:</span> <span class="text">"Scott"</span>
    <span class="neutre">email:</span> <span class="text">"rachel.scott73@example.com"</span>
    <span class="neutre">date_of_birth:</span> <span class="number">14634</span>
  <span class="neutre">{{'}'}}</span>  </pre>
  <h2>When to use:</h2>
  <p>UserApi is an online REST API that you can use whenever you need some fake data. It can be in a README on GitHub, for a demo on CodeSandbox, in code examples on Stack Overflow, ...or simply to test things locally.</p>

</app-template>

